@model Closet;

<style>
    body {
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
    }

    .custom-margin {
        text-align: center
    }

    button:hover {
        background-color: #0056b3;
    }

    .alert-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        color: #721c24;
    }

        .alert-container.show {
            display: block;
        }
</style>

<h3>this page not working</h3>

<div class="container mt-4">
    <h1 class="custom-margin">Gardırop EKLE</h1>

    <form asp-action="ClosetAdd" asp-controller="Closet" asp-area="Admin" method="post" target="_self">
        <div class="form-group container mt-4">
            <label asp-for="ClosetName">Ad </label>
            <input asp-for="ClosetName" class="form-control" placeholder="Ad">
        </div>
        <div class="form-group container mt-4">
            <label asp-for="ClosetPrice">Soyad</label>
            <input asp-for="ClosetPrice" class="form-control"  placeholder="Soyad">
        </div>
        <div class="form-group container mt-4">
            <label asp-for="ClosetAmount">E-posta adresi</label>
            <input asp-for="ClosetAmount" class="form-control"  placeholder="E-posta adresinizi girin">
        </div>

        <div class="form-group container mt-4">
            <br />
            <button type="submit" class="btn btn-primary container mt-4 custom-margin">Gardırop Ekle</button>
        </div>
    </form>

    <!-- Eğer gerekirse showAlert() fonksiyonu için JavaScript kodunuzu buraya ekleyebilirsiniz -->
</div>


@* @section Scripts {
    <script>
        // Form validasyonu için JavaScript kodu
        (function () {
            'use strict';

            // Formu seç
            var form = document.querySelector('.needs-validation');

            // Submit işlemi yapıldığında
            form.addEventListener('submit', function (event) {
                // Form validasyonunu kontrol et
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                // Validasyonu göster
                form.classList.add('was-validated');
            });
        })();
    </script>
} *@

