<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ürün Listesi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyU1AuIV7h4GLTzI6STFgCkV6Uw" ,
          crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">

        <div class="row">
            <!-- Ürün Kartları Başlangıcı -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/Closets/DoveRezervuarsız.jpg" class="card-img-top" style="height: 500px; margin-right: 10px;" alt="Ürün Resmi">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Klozetler</h5>
                        <p class="card-text">Klozetlerimiz, yüksek kaliteli malzemelerle üretilmiş, şıklığı ve hijyen standartlarını ön planda tutan özel tasarımlardır</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Modelleri Gör</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/BatchCeramic/1.jpg" class="card-img-top" style="height: 500px; margin-right: 10px;" alt="Ürün Resmi">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Banyo Seramikleri</h5>
                        <p class="card-text">Holdingimiz, banyo seramiklerinde şıklık ve kaliteyi birleştiriyor. Estetik ve dayanıklılıkla tasarlanmış koleksiyonumuz, banyolarınıza özgün bir dokunuş katıyor.</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Modelleri Gör</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/KitchenCeramic/10.jpg" class="card-img-top" style="height: 500px; margin-right: 10px;" alt="Ürün Resmi">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Mutfak Seramikleri</h5>
                        <p class="card-text">Holdingimiz, mutfak seramiklerinde şıklığı ve kaliteyi birleştiriyor. Estetik ve dayanıklılıkla tasarlanmış koleksiyonumuz, mutfaklarınıza özgün bir atmosfer katıyor.</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Modelleri Gör</a>
                    </div>
                </div>
            </div>
            <!-- Diğer Ürün Kartları Eklenebilir -->
        </div>
    </div>

    <!-- Bootstrap JS ve Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyU1AuIV7h4GLTzI6STFgCkV6Uw"
            crossorigin="anonymous"></script>
</body>
</html>







@* @{
    ViewData["Title"] = "Ceramic Ürünleri" ;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ürün Listesi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyU1AuIV7h4GLTzI6STFgCkV6Uw" ,
          crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        
        <div class="row" style="height: 500px; margin-right: 10px;">
            <!-- Ürün Kartları Başlangıcı -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/Closets/DoveRezervuarsız.jpg" class="card-img-top" style="height: 500px; margin-right: 10px;" alt="Ürün Resmi">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Klozetler</h5>
                        <p class="card-text">Klozetlerimiz, yüksek kaliteli malzemelerle üretilmiş, şıklığı ve hijyen standartlarını ön planda tutan özel tasarımlardır</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Modelleri Gör</a>

                    </div>
                </div>
            </div>
            <!-- Diğer Ürün Kartları Eklenebilir -->
            <div class="col-md-4 mb-4" style="height: 500px; margin-right: 10px;">
                <div class="card">
                    <img src="~/BatchCeramic/1.jpg" class="card-img-top" style="height: 500px; margin-right: 10px;" alt="Ürün Resmi">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Banyo Seramikleri</h5>
                        <p class="card-text">Holdingimiz, banyo seramiklerinde şıklık ve kaliteyi birleştiriyor. Estetik ve dayanıklılıkla tasarlanmış koleksiyonumuz, banyolarınıza özgün bir dokunuş katıyor.</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Modelleri Gör</a>

                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4" style="height: 500px; margin-right: 10px;">
                <div class="card">
                    <img src="~/KitchenCeramic/10.jpg" class="card-img-top" style="height: 500px; margin-right: 10px;" alt="Ürün Resmi">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Mutfak Seramikleri</h5>
                        <p class="card-text">Holdingimiz, mutfak seramiklerinde şıklığı ve kaliteyi birleştiriyor. Estetik ve dayanıklılıkla tasarlanmış koleksiyonumuz, mutfaklarınıza özgün bir atmosfer katıyor.</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Modelleri Gör</a>

                    </div>
                </div>
            </div>
            <!-- Diğer Ürün Kartları Eklenebilir -->
        </div>
    </div>

    <!-- Bootstrap JS ve Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyU1AuIV7h4GLTzI6STFgCkV6Uw"
            crossorigin="anonymous"></script>
</body>
</html>

 *@