
@model kitchenCeramic;


<form asp-area="Admin" asp-controller="KitchenCeramicAdd" asp-action="KitchenCeramic">
    <div class="form-group">
        <label for="ad">Ad:</label>
        <input type="text" class="form-control" id="ad" placeholder="Adınızı girin">
    </div>

    <button type="submit" class="btn btn-primary">Gönder</button>
</form>